---
import { getCollection } from 'astro:content';
import BaseLayout from "../../layouts/BaseLayout.astro";
import NavSmall from "../../components/NavSmall.astro";
import TermSnippet from "../../components/TermSnippet.astro";
import NavMobile from "../../components/NavMobile.astro";
import { fade } from 'astro:transitions';

export async function getStaticPaths() {
    const allPosts = await getCollection('terms');
    const alphabet = 'abcdefghijklmnopqrstuvwxyz'.split('');

    return alphabet.map(letter => {
        // Filter terms that start with the current letter
        const termsStartingWithLetter = allPosts.filter(post => post.slug.toLowerCase().startsWith(letter));

        return {
            params: { letter }, // Dynamic route parameter for the letter
            props: { terms: termsStartingWithLetter }, // Pass filtered terms as props
        };
    });
}

const { letter } = Astro.params
const { terms } = Astro.props;

---

<BaseLayout pageTitle={letter.toUpperCase() + ' | LGDN'} letter={letter}>
    <div class="container mt-10 px-4" data-pagefind-ignore="all">
        <h1 class="heading-underline text-black dark:text-white text-xl font-bold mb-10 uppercase">
            <span>Terms starting with</span>
            <span class="ml-2" transition:name=`letter ${letter.toUpperCase()}`>{letter}</span>
        </h1>
        {terms.map( (post:any) => <TermSnippet term={post} />)}
    </div>
</BaseLayout>