---
import { getCollection } from "astro:content";

import BaseLayout from '../../layouts/BaseLayout.astro';
import NavSmall from "../../components/NavSmall.astro";
import TermSnippet from "../../components/TermSnippet.astro";
import NavMobile from "../../components/NavMobile.astro";
const allPosts = await getCollection("terms");
---

<BaseLayout pageTitle='Term List | LGDN'>
    <div class="container mt-10 px-4 overflow-hidden" data-pagefind-ignore="all">
        <h1 class="text-black dark:text-gray-200 text-6xl underline underline-offset-8 decoration-accent-blue font-bold mb-10">Term List</h1>
        {allPosts.map( (post:any) => <TermSnippet term={post} />)}
    </div>
</BaseLayout>