---
import { getCollection } from "astro:content";

import BaseLayout from '../../layouts/BaseLayout.astro';
import NavSmall from "../../components/NavSmall.astro";
import TermSnippet from "../../components/TermSnippet.astro";
const allPosts = await getCollection("terms");
---

<BaseLayout pageTitle='Term List | LGDN'>
    <NavSmall />
    <div class="container mt-10 px-4">
        <h1 class="text-secondary text-4xl font-bold mb-10">Term List</h1>
        {allPosts.map( (post:any) => <TermSnippet term={post} />)}
    </div>
</BaseLayout>