---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
    const authorEntries = await getCollection('authors');
    return authorEntries.map(entry => ({
        params: { slug: entry.slug }, props: { entry },
    }));
}

const { entry  } = Astro.props;
const { Content } = await entry.render();
const allPosts = await getCollection('terms', ({ data }) => {
    return data.author.slug === entry.slug;
});

---
<BaseLayout pageTitle={entry.data.name}>
    <h1 class="tracking-tight md:text-5xl lg:text-6xl dark:text-white">{entry.data.name}</h1>
    <Content />
    <h3>My articles:</h3>
    <ul>
        <ul class="space-y-4">
            {allPosts.map((post) => <li><a href={`/terms/${post.slug}/`}>{post.data.title}</a></li>)}
        </ul>
    </ul>
</BaseLayout>