---
import '../global.css';
import { ClientRouter } from 'astro:transitions';
import NavMain from "../components/NavMain.astro";
import Footer from "../components/Footer.astro";
import NavMobile from "../components/NavMobile.astro";
import Hero from "../components/Hero.astro";
import TermSnippet from "../components/TermSnippet.astro";
import {getCollection} from "astro:content";
const allPosts = (await getCollection("terms")).sort((a, b) => a.data.title.localeCompare(b.data.title));
---
<html lang="en" style="overflow-y: scroll">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <title>The Living Glossary of Digital Narrative</title>
    <ClientRouter />
</head>
<body class="flex flex-col min-h-screen dark:bg-black">

<NavMain />
<NavMobile />

<div class="grow">
    <Hero />
    <div class="container mt-10 px-4 overflow-hidden" data-pagefind-ignore="all">
        <h1 class="text-black dark:text-gray-200 text-6xl underline underline-offset-8 decoration-accent-blue font-bold mb-10">Term List</h1>
        {allPosts.map( (post:any) => <TermSnippet term={post} />)}
    </div>
    <Footer />
</div>

</body>
</html>