---
import { getCollection } from "astro:content";

import BaseLayout from '../layouts/BaseLayout.astro';
import {default as PageFind} from "astro-pagefind/components/Search"; // https://github.com/withastro/language-tools/issues/580
import NavSmall from "../components/NavSmall.astro";
import NavMobile from "../components/NavMobile.astro";
---

<script>
    document.addEventListener('DOMContentLoaded', () => {
        setTimeout(()=>{
            document.querySelector<HTMLInputElement>('.pagefind-ui__search-input')?.focus();
        }, 50);
    });
    document.addEventListener("astro:page-load", () => {
        setTimeout(()=>{
            document.querySelector<HTMLInputElement>('.pagefind-ui__search-input')?.focus();
        }, 50);
    });
</script>

<BaseLayout pageTitle='Search | LGDN'>
    <NavSmall />
    <NavMobile />
    <div class="container mt-4 px-2" transition:name='search'>
        <PageFind id="search_results" className="pagefind-ui" uiOptions={{ autofocus: true, showImages: false }} />
    </div>
</BaseLayout>