---
import BaseLayout from '../layouts/BaseLayout.astro';
import {default as PageFind} from "astro-pagefind/components/Search"; // https://github.com/withastro/language-tools/issues/580
---
<style is:global>
.pagefind-ui {
    --pagefind-ui-scale: 1;
    --pagefind-ui-font: "Segoe UI", ui-sans-serif, system-ui, sans-serif;
    --pagefind-ui-text: #002934;
}
.dark .pagefind-ui {
    --pagefind-ui-primary: #d1d5db;
    --pagefind-ui-text: #d1d5db;
    --pagefind-ui-background: #152028;
    --pagefind-ui-border: #152028;
    --pagefind-ui-tag: #152028;
}
</style>
<BaseLayout pageTitle='Search | LGDN'>
    <div id="pagefind_container" class="container mt-4 px-2 relative" transition:name='search'>
        <PageFind id="search_results" className="pagefind-ui" uiOptions={{ autofocus: true, showImages: false }} />
    </div>
</BaseLayout>
<script>
    document.addEventListener("astro:page-load", () => {
        setTimeout(()=>{
            document.querySelector<HTMLInputElement>('.pagefind-ui__search-input')?.focus();
            document.getElementById("pagefind_container")?.removeAttribute("data-astro-transition-scope");
        }, 50);
    });
</script>
