---


import NavSmall from "./NavSmall.astro";---
<style>
    #hero {
        background-color: #2B9991;
        background-image: url('/hero-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% calc(50%);
    }
    #hero a {
        background-color: rgba(255, 255, 255, 0.7);
    }
</style>
<div id="hero" class="hidden md:flex h-[300px] xl:h-[500px] 2xl:h-[640px]">
    <div class="container relative md:flex h-full flex-col items-center justify-center">
        <h1 class="absolute top-[10%] left-8 font-semibold text-4xl xl:text-5xl 2xl:text-6xl text-white">The Living Glossary<br>of Digital Narrative</h1>

        <div class="w-[400px] md:w-[600px] lg:w-[800px] xl:w-[1200px] mt-20">
            <a data-astro-prefetch="load" transition:name="search" href="/search" type="button" class="cursor-text flex items-center justify-end block w-full p-4 text-base rounded-full" aria-label="link to search page">
                <img src="/search-icon.png" alt="search icon" class="ml-auto h-6 w-6 mr-5" />
            </a>
        </div>
    </div>
</div>
<div class="bg-secondary hidden md:block">
    <nav class="container mb-4">
        <div class="py-6 px-4 mx-auto flex flex-row md:text-lg xl:text-xl 2xl:text-2xl justify-between">
            <div class="flex flex-row gap-4 2xl:gap-8">
                <a href="/about/" class="hover:underline">About</a>
                <a href="/submit/" class="hover:underline">Submit</a>
                <a href="/search/" class="hover:underline">Search</a>
            </div>
            <ul class="flex flex-row gap-1 lg:gap-3 xl:gap-5">
                <li><a href="/terms/a" class="hover:underline" transition:name=`letter A`>A</a></li>
                <li><a href="/terms/b" class="hover:underline" transition:name=`letter B`>B</a></li>
                <li><a href="/terms/c" class="hover:underline" transition:name=`letter C`>C</a></li>
                <li><a href="/terms/d" class="hover:underline" transition:name=`letter D`>D</a></li>
                <li><a href="/terms/e" class="hover:underline" transition:name=`letter E`>E</a></li>
                <li><a href="/terms/f" class="hover:underline" transition:name=`letter F`>F</a></li>
                <li><a href="/terms/g" class="hover:underline" transition:name=`letter G`>G</a></li>
                <li><a href="/terms/h" class="hover:underline" transition:name=`letter H`>H</a></li>
                <li><a href="/terms/i" class="hover:underline" transition:name=`letter I`>I</a></li>
                <li><a href="/terms/j" class="hover:underline" transition:name=`letter J`>J</a></li>
                <li><a href="/terms/k" class="hover:underline" transition:name=`letter K`>K</a></li>
                <li><a href="/terms/l" class="hover:underline" transition:name=`letter L`>L</a></li>
                <li><a href="/terms/m" class="hover:underline" transition:name=`letter M`>M</a></li>
                <li><a href="/terms/n" class="hover:underline" transition:name=`letter N`>N</a></li>
                <li><a class="cursor-default opacity-50">O</a></li>
                <li><a href="/terms/p" class="hover:underline" transition:name=`letter P`>P</a></li>
                <li><a class="cursor-default opacity-50">Q</a></li>
                <li><a href="/terms/r" class="hover:underline" transition:name=`letter R`>R</a></li>
                <li><a href="/terms/s" class="hover:underline" transition:name=`letter S`>S</a></li>
                <li><a href="/terms/t" class="hover:underline" transition:name=`letter T`>T</a></li>
                <li><a class="cursor-default opacity-50">U</a></li>
                <li><a href="/terms/v" class="hover:underline" transition:name=`letter V`>V</a></li>
                <li><a href="/terms/w" class="hover:underline" transition:name=`letter W`>W</a></li>
                <li><a class="cursor-default opacity-50">X</a></li>
                <li><a class="cursor-default opacity-50">Y</a></li>
                <li><a class="cursor-default opacity-50">Z</a></li>
            </ul>
        </div>
    </nav>
</div>
