---
import ThemeIcon from "./ThemeIcon.astro";
---
<style>
    #nav_main {
        font-size: min(18px, 4.5vw);
    }
    @media (min-width: 768px) {
        #nav_main {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
</style>
<div class="bg-beige dark:bg-dark">
    <nav class="container">
        <div id="nav_main" class="flex flex-col md:flex-row pb-2 md:pb-0 justify-center md:justify-between items-center mx-auto max-w-screen-2xl text-gray-900">
            <a href="/" class="-ml-[22px]">
                <img src="/CDN-horizontal_color.svg" class="dark:hidden h-24 xl:h-[125px]" alt="CDN Logo" />
                <img src="/CDN-horizontal_Negative color.svg" class="hidden dark:block h-24 xl:h-[125px]" alt="CDN Logo" />
            </a>
            <ul class="flex flex-row mt-0 space-x-8 text-black dark:text-white">
                <li>
                    <a href="/" class="mainnav-link-active">Glossary</a>
                </li>
                <li>
                    <a href="https://elmcip.net/" class="mainnav-link">ELMCIP</a>
                </li>
                <li>
                    <a href="https://www.uib.no/en/cdn/171927/cdn-launches-cell-index" class="mainnav-link" target="_blank">Index</a>
                </li>
                <li>
                    <a href="https://collection.cdn.uib.no" class="mainnav-link">Collection</a>
                </li>
            </ul>

            <div class="hidden lg:inline-block">
                <ThemeIcon />
            </div>
        </div>
    </nav>
</div>