---
import {Astronav, MenuItems, MenuIcon, StickyHeader} from "astro-navbar";
const { class: className, ...rest } = Astro.props
---
<style>
    .letter-button {
        background: rgb(255 255 255 / 16%);
        width: 38px;
    }
    a:active {
        background: rgb(255 255 255 / 16%);
    }
</style>
<StickyHeader
        data-pagefind-ignore="all"
        class:list={['md:hidden sticky top-0 z-20 transition-all bg-secondary text-white', className]} {...rest}
        scrollY={50}
        defaultClass="py-5"
        activeClass="py-2">
    <Astronav>
        <div class="flex justify-between px-2">
            <a href="/" class="flex items-center space-x-3">
                <span class="font-semibold hover:underline">The Living Glossary of Digital Narrative</span>
            </a>
            <MenuIcon class="w-4 h-4 text-white"/>
        </div>
        <MenuItems class="hidden pt-3">
            <ul class="text-lg">
                <li>
                    <a href="/about/" class="block px-4 py-2 border-y border-gray-600">About</a>
                </li>
                <li>
                    <a href="/submit/" class="block px-4 py-2 border-b border-gray-600">Submit</a>
                </li>
                <li>
                    <a href="/search/" class="block px-4 py-2 border-b border-gray-600">Search</a>
                </li>
                <li class="flex flex-row flex-wrap gap-2 px-3 pt-4 pb-2">
                    <style>
                        li > a {
                            flex-basis: calc(100% / 7 - 0.5rem); /* 7 items per row */
                        }
                    </style>
                    <a href="/terms/a" class="px-3 py-2 text-sm font-medium text-center text-white rounded-lg letter-button">A</a>
                    <a href="/terms/b" class="px-3 py-2 text-sm font-medium text-center text-white rounded-lg letter-button">B</a>
                    <a href="/terms/c" class="px-3 py-2 text-sm font-medium text-center text-white rounded-lg letter-button">C</a>
                    <a href="/terms/d" class="px-3 py-2 text-sm font-medium text-center text-white rounded-lg letter-button">D</a>
                    <a href="/terms/e" class="px-3 py-2 text-sm font-medium text-center text-white rounded-lg letter-button">E</a>
                    <a href="/terms/f" class="px-3 py-2 text-sm font-medium text-center text-white rounded-lg letter-button">F</a>
                    <a href="/terms/g" class="px-3 py-2 text-sm font-medium text-center text-white rounded-lg letter-button">G</a>
                    <a href="/terms/h" class="px-3 py-2 text-sm font-medium text-center text-white rounded-lg letter-button">H</a>
                    <a href="/terms/i" class="px-3 py-2 text-sm font-medium text-center text-white rounded-lg letter-button">I</a>
                    <a href="/terms/j" class="px-3 py-2 text-sm font-medium text-center text-white rounded-lg letter-button">J</a>
                    <a href="/terms/k" class="px-3 py-2 text-sm font-medium text-center text-white rounded-lg letter-button">K</a>
                    <a href="/terms/l" class="px-3 py-2 text-sm font-medium text-center text-white rounded-lg letter-button">L</a>
                    <a href="/terms/m" class="px-3 py-2 text-sm font-medium text-center text-white rounded-lg letter-button">M</a>
                    <a href="/terms/n" class="px-3 py-2 text-sm font-medium text-center text-white rounded-lg letter-button">N</a>
                    <a class="cursor-default opacity-20 px-3 py-2 text-sm font-medium text-center text-white rounded-lg">O</a>
                    <a href="/terms/p" class="px-3 py-2 text-sm font-medium text-center text-white rounded-lg letter-button">P</a>
                    <a class="cursor-default opacity-20 px-3 py-2 text-sm font-medium text-center text-white rounded-lg">Q</a>
                    <a href="/terms/r" class="px-3 py-2 text-sm font-medium text-center text-white rounded-lg letter-button">R</a>
                    <a href="/terms/s" class="px-3 py-2 text-sm font-medium text-center text-white rounded-lg letter-button">S</a>
                    <a href="/terms/t" class="px-3 py-2 text-sm font-medium text-center text-white rounded-lg letter-button">T</a>
                    <a class="cursor-default opacity-20 px-3 py-2 text-sm font-medium text-center text-white rounded-lg">U</a>
                    <a href="/terms/v" class="px-3 py-2 text-sm font-medium text-center text-white rounded-lg letter-button">V</a>
                    <a href="/terms/w" class="px-3 py-2 text-sm font-medium text-center text-white rounded-lg letter-button">W</a>
                    <a class="cursor-default opacity-20 px-3 py-2 text-sm font-medium text-center text-white rounded-lg">X</a>
                    <a class="cursor-default opacity-20 px-3 py-2 text-sm font-medium text-center text-white rounded-lg">Y</a>
                    <a class="cursor-default opacity-20 px-3 py-2 text-sm font-medium text-center text-white rounded-lg">Z</a>
                </li>
            </ul>
        </MenuItems>
    </Astronav>
</StickyHeader>