---

---
<div class="bg-accent">
    <nav class="container mb-4 py-2 overflow-hidden" >
        <div class="flex flex-col xl:flex-row justify-center sm:justify-between items-center text-light">
            <a href="/" class="flex items-center space-x-3">
                <span id="nav_small_title" class="font-semibold hover:underline">The Living Glossary of Digital Narrative</span>
            </a>
            <div class="md:flex flex-row sm:space-x-8 text-lg 2xl:text-xl">
                <div class="md:flex flex-row gap-4 2xl:gap-8 text-center">
                    <a href="/about/" class="hover:underline pr-4 md:pr-0">About</a>
                    <a href="/submit/" class="hover:underline">Submit</a>
                    <a href="/terms/" class="hover:underline pl-4 md:pl-0">Term List</a>
                </div>
                <div class="hidden sm:block md:flex flex-row gap-1 2xl:gap-2 text-center">
                    <a href="/terms/a" class="hover:underline">A</a>
                    <a href="/terms/b" class="hover:underline">B</a>
                    <a href="/terms/c" class="hover:underline">C</a>
                    <a href="/terms/d" class="hover:underline">D</a>
                    <a href="/terms/e" class="hover:underline">E</a>
                    <a href="/terms/f" class="hover:underline">F</a>
                    <a href="/terms/g" class="hover:underline">G</a>
                    <a href="/terms/h" class="hover:underline">H</a>
                    <a href="/terms/i" class="hover:underline">I</a>
                    <a href="/terms/j" class="hover:underline">J</a>
                    <a href="/terms/k" class="hover:underline">K</a>
                    <a href="/terms/l" class="hover:underline">L</a>
                    <a href="/terms/m" class="hover:underline">M</a>
                    <br class="sm:hidden">
                    <a href="/terms/n" class="hover:underline">N</a>
                    <a class="cursor-default opacity-20">O</a>
                    <a href="/terms/p" class="hover:underline">P</a>
                    <a class="cursor-default opacity-20">Q</a>
                    <a href="/terms/r" class="hover:underline">R</a>
                    <a href="/terms/s" class="hover:underline">S</a>
                    <a href="/terms/t" class="hover:underline">T</a>
                    <a class="cursor-default opacity-20">U</a>
                    <a href="/terms/v" class="hover:underline">V</a>
                    <a href="/terms/w" class="hover:underline">W</a>
                    <a class="cursor-default opacity-20">X</a>
                    <a class="cursor-default opacity-20">Y</a>
                    <a class="cursor-default opacity-20">Z</a>
                </div>
            </div>
        </div>
    </nav>
</div>