---
import {allLetters, lettersWithoutTerms} from "../utils/letters";
interface Props {
    letter?: string;
}
const { letter } = Astro.props;
---
<div class="bg-dark-blue text-white hidden md:block sticky top-0 z-20" data-pagefind-ignore="all" transition:name="smallnav">
    <nav class="container py-2 overflow-hidden">
        <div class="flex flex-col xl:flex-row sm:justify-between md:items-center text-light px-5">
            <a href="/" class="flex items-center space-x-3">
                <span class="font-semibold text-xl hover:underline">The Living Glossary of Digital Narrative</span>
            </a>
            <div class="flex flex-row sm:space-x-8 text-base">
                <div class="md:flex flex-row gap-4 2xl:gap-8 text-center">
                    <a href="/about/" class="hover:underline pr-4 md:pr-0">About</a>
                    <a href="/submit/" class="hover:underline">Submit</a>
                    <a href="/search/" class="hover:underline">Search</a>
                </div>
                <div class="hidden md:flex flex-row gap-2 text-center">
                    {allLetters.map(l => (
                            (lettersWithoutTerms.includes(l) || l===letter)
                                ? <a class="cursor-default opacity-20">{l.toUpperCase()}</a>
                                : <a href={`/terms/${l}`} transition:name=`letter ${l.toUpperCase()}` class="hover:underline">{l.toUpperCase()}</a>
                    ))}
                </div>
            </div>
        </div>
    </nav>
</div>

