local_backend: true

logo_url: /favicon.svg

backend:
  name: github
  branch: main
  repo: Center-for-Digital-Narrative/Glossary-of-Digital-Narrative
  site_domain: glossary.cdn.uib.no
  base_url: https://sveltia-cms-auth.colin-robinson.workers.dev/
  automatic_deployments: false
output:
  omit_empty_optional_fields: true

media_folder: "src/assets/images"
public_folder: "@assets/images"

collections:
  - name: "terms"
    label: "Terms"
    folder: "src/content/terms"
    media_folder: "public/uploads"
    public_folder: "/uploads"
    create: true
    delete: true
    preview_path_date_field: "updated_on"
    extension: "md"
    fields:
      - name: "title"
        widget: "string"
        label: "Title"
      - label: "Description"
        name: "description"
        widget: "text"
      - label: "Author"
        name: "author"
        widget: "string"
        required: false
      - label: "Publish Date"
        name: "pubDate"
        widget: "datetime"
        date_format: "YYYY-MM-DD"
        picker_utc: true
        required: false
      - name: "body"
        widget: "markdown"
        label: "Explication"
        required: false
      - label: "See Also"
        name: "seeAlso"
        widget: "relation"
        collection: "terms"
        multiple: true
        search_fields: [ "title" ]
        display_fields: [ "title" ]
        value_field: '{{slug}}'
        required: false
      - name: "worksReferenced"
        widget: "markdown"
        label: "Works Referenced"
        required: false
      - name: "furtherReading"
        widget: "markdown"
        label: "Further Reading"
        required: false