---
import { getCollection } from "astro:content";

import BaseLayout from '../../layouts/BaseLayout.astro';
import Search from "astro-pagefind/components/Search";
import NavSmall from "../../components/NavSmall.astro";
---

<script>
    document.addEventListener('DOMContentLoaded', () => {
        setTimeout(()=>{
            document.querySelector<HTMLInputElement>('.pagefind-ui__search-input')?.focus();
        }, 50);
    });
    document.addEventListener("astro:page-load", () => {
        setTimeout(()=>{
            document.querySelector<HTMLInputElement>('.pagefind-ui__search-input')?.focus();
        }, 50);
    });
</script>

<BaseLayout pageTitle='Search | LGDN'>
    <NavSmall />
    <div class="container">
        <Search id="search" className="pagefind-ui" uiOptions={{ autofocus: true, showImages: false }} />
    </div>
</BaseLayout>