@font-face {
    font-family: 'Segoe Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Segoe Pro'), url('https://fonts.cdnfonts.com/s/16326/SegoePro-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Segoe Pro';
    font-style: italic;
    font-weight: 400;
    src: local('Segoe Pro'), url('https://fonts.cdnfonts.com/s/16326/SegoePro-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Segoe Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Segoe Pro'), url('https://fonts.cdnfonts.com/s/16326/SegoePro-Light.woff') format('woff');
}
@font-face {
    font-family: 'Segoe Pro';
    font-style: italic;
    font-weight: 300;
    src: local('Segoe Pro'), url('https://fonts.cdnfonts.com/s/16326/SegoePro-LightItalic.woff') format('woff');
}
@font-face {
    font-family: 'Segoe Pro';
    font-style: normal;
    font-weight: 350;
    src: local('Segoe Pro'), url('https://fonts.cdnfonts.com/s/16326/SegoePro-Semilight.woff') format('woff');
}
@font-face {
    font-family: 'Segoe Pro';
    font-style: italic;
    font-weight: 350;
    src: local('Segoe Pro'), url('https://fonts.cdnfonts.com/s/16326/SegoePro-SemilightItalic.woff') format('woff');
}
@font-face {
    font-family: 'Segoe Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Segoe Pro'), url('https://fonts.cdnfonts.com/s/16326/SegoePro-Semibold.woff') format('woff');
}
@font-face {
    font-family: 'Segoe Pro';
    font-style: italic;
    font-weight: 600;
    src: local('Segoe Pro'), url('https://fonts.cdnfonts.com/s/16326/SegoePro-SemiboldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Segoe Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Segoe Pro'), url('https://fonts.cdnfonts.com/s/16326/SegoePro-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Segoe Pro';
    font-style: italic;
    font-weight: 700;
    src: local('Segoe Pro'), url('https://fonts.cdnfonts.com/s/16326/SegoePro-BoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Segoe Pro';
    font-style: normal;
    font-weight: 800;
    src: local('Segoe Pro'), url('https://fonts.cdnfonts.com/s/16326/SegoePro-Black.woff') format('woff');
}
@font-face {
    font-family: 'Segoe Pro';
    font-style: italic;
    font-weight: 800;
    src: local('Segoe Pro'), url('https://fonts.cdnfonts.com/s/16326/SegoePro-BlackItalic.woff') format('woff');
}