body {
    color: #002934;
}

.bg-beige {
    background-color: #e9e5e1;
}
.dark body {
    background-color: #002934;
}
.dark\:bg-dark:is(.dark *) {
    background-color: #002934;
}

.text-secondary {
    color: #2B9991;
}
.text-light {
    color: #ffffff;
}
.bg-accent {
    background-color: #2B9991;
}

.dashedtitle-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.dashedtitle {
    margin: 0;
    padding-right: 10px;
    white-space: nowrap;
}

.dashedtitle-line {
    flex-grow: 1;
    border-bottom: 2px dashed black;
}
.dark .dashedtitle-line {
    border-color: white;
}

#search {
    --pagefind-ui-text: #002934;
    --pagefind-ui-font: 'Segoe Pro', Arial, sans-serif;
}