.bg-primary {
    background-color: #e9e5e1;
}
.text-secondary {
    color: #cf3c3a;
}

.montserrat-title {
     font-family: "Montserrat", sans-serif;
     font-optical-sizing: auto;
     font-weight: 700;
     font-style: normal;
}