---
import { ViewTransitions } from 'astro:transitions';
const { pageTitle } = Astro.props;
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
</head>
<body>



<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
        <a href="https://cdn.uib.no" class="flex items-center space-x-3 rtl:space-x-reverse hover:underline">
            <img src="/CDN-icon_Color.svg" class="h-16" alt="CDN Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Center for Digital Narrative</span>
        </a>
        <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-lg">
            <li>
                <a href="/" class="text-gray-900 dark:text-white underline">Glossary</a>
            </li>
            <li>
                <a href="#" class="text-gray-900 dark:text-white hover:underline">DNKB</a>
            </li>
            <li>
                <a href="#" class="text-gray-900 dark:text-white hover:underline">Index</a>
            </li>
            <li>
                <a href="#" class="text-gray-900 dark:text-white hover:underline">Collection</a>
            </li>
        </ul>
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
            <img src="/UiB_PositivEmblem.png" class="h-16" alt="CDN Logo" />
        </div>
    </div>
</nav>
<nav class="mb-4 bg-gray-50 dark:bg-gray-700">
    <div class="max-w-screen-xl px-4 py-2 mx-auto">
        <div class="flex justify-between items-center">
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white hover:underline">The Living Glossary of Digital Narrative</span>
            </a>
            <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm items-center">
                <li class="text-gray-900 dark:text-white">
                    <a href="/terms/" class="hover:underline">Term List</a>
                </li>
                <li class="text-gray-900 dark:text-white">
                    <a href="#" class="hover:underline">A</a>
                    <a href="#" class="hover:underline">B</a>
                    <a href="#" class="hover:underline">C</a>
                    <a href="#" class="hover:underline">D</a>
                    <a href="#" class="hover:underline">E</a>
                    <a href="#" class="hover:underline">F</a>
                    <a href="#" class="hover:underline">G</a>
                    <a href="#" class="hover:underline">H</a>
                    <a href="#" class="hover:underline">I</a>
                    <a href="#" class="hover:underline">J</a>
                    <a href="#" class="hover:underline">K</a>
                    <a href="#" class="hover:underline">L</a>
                    <a href="#" class="hover:underline">M</a>
                    <a href="#" class="hover:underline">N</a>
                    <a href="#" class="hover:underline">O</a>
                    <a href="#" class="hover:underline">P</a>
                    <a href="#" class="hover:underline">Q</a>
                    <a href="#" class="hover:underline">R</a>
                    <a href="#" class="hover:underline">S</a>
                    <a href="#" class="hover:underline">T</a>
                    <a href="#" class="hover:underline">U</a>
                    <a href="#" class="hover:underline">V</a>
                    <a href="#" class="hover:underline">W</a>
                    <a href="#" class="hover:underline">X</a>
                    <a href="#" class="hover:underline">Y</a>
                    <a href="#" class="hover:underline">Z</a>
                </li>
                <li>
                    <a href="/search" class="flex items-center justify-center w-9 h-9 text-xs font-medium text-gray-700 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 focus:outline-none dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>



    <div class="container mx-auto max-w-screen-xl">
        <slot />
    </div>

</body>
</html>